 <div  class="padding_all_div">
     <div id="leftContent">Call us for Free Estimation  we are always for you </div>
     <div id="rightContent">
         <table id="con_table">
             <tr>
                 <td>Phone</td>
                 <td>(416) 555 - 5555</td>
             </tr>
             <tr>
                 <td>Email</td>
                 <td>ns.jeeb@gmail.com</td>
             </tr>
             <tr>
                 <td>Website</td>
                 <td>www.goldenrock.com</td>
             </tr>
         </table>
     </div>
     <div class="clear"></div>
 </div>

