<div  class="padding_all_div">
    <div id="leftContent" class="leftContent">
        <table>
            <th>Services</th>
            <th>Services description</th>
            <tr ng-repeat="service in sers">
                <td>{{service.name}}</td>
                <td>{{service.ser_description}}</td>
            </tr>
        </table>
    </div>

    <div id="rightContent"class="rightContent">
        <table>
            <th>Services</th>
            <th>Services description</th>
            <tr ng-repeat="service in sers">
                <td>{{service.name}}</td>
                <td>{{service.ser_description}}</td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
</div>



